@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.refresh {
    animation: rotate 1.5s linear infinite;
}

.bigpurrs {
    color: #ff6b94;
}
